# Django
*.pyc
__pycache__/
*.py~
TOPPERS/db.sqlite3
/media/
/staticfiles/

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/YES

*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db

# Python
*.egg-info/
dist/
build/
.Python
