asgiref==3.11.1
crispy-bootstrap5==2025.6
Django==6.0.2
django-crispy-forms==2.5
gunicorn==25.1.0
packaging==26.0
pillow==12.1.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.11.0
