{% extends 'base.html' %}
{% block content %}

<div class="container-fluid mt-4">
    <h3 class="mb-4">
        <i class="fas fa-edit"></i> Edit Lecture
    </h3>

    <div class="card">
        <div class="card-body">

            <form method="POST">
                {% csrf_token %}

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label>Teacher</label>
                        {{ form.teacher }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Subject</label>
                        {{ form.subject }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Batch</label>
                        {{ form.batch }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Day</label>
                        {{ form.day }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Start Time</label>
                        {{ form.start_time }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>End Time</label>
                        {{ form.end_time }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Special Class Date</label>
                        {{ form.class_date }}
                    </div>

                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Update Lecture
                    </button>
                    <a href="{% url 'manage_timetable' %}" class="btn btn-secondary">
                        Cancel
                    </a>
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}
